cycler==0.10.0
dataclasses==0.8
emcee==3.0.2
gstools==1.2.1
hankel==1.1.0
kiwisolver==1.3.1
matplotlib==3.3.4
mpmath==1.1.0
numpy==1.22.0
Pillow==8.1.0
pkg-resources==0.0.0
pyevtk==1.2.0
pyparsing==2.4.7
python-dateutil==2.8.1
scipy==1.5.4
six==1.15.0
sortedcontainers==2.3.0
torch==1.7.1
torchsummary==1.5.1
tqdm==4.56.0
typing-extensions==3.7.4.3
